body {
    font-family: "Poppins", "Kosugi", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:black;
    color: rgb(240, 240, 240);
    margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: black;
  color: rgb(240, 240, 240);
}

h1 {
  text-align: center;
}

.songs-container {
  height: 140px;
  overflow-y: auto;
}

.playlist-item {
  cursor: pointer;
  padding: 5px;
  white-space: nowrap; /* テキストを1行にしてスクロールさせる */
  overflow: hidden;
  text-overflow: ellipsis; /* テキストが長すぎる場合に省略記号を表示 */
}

#player-container {
  text-align: center;
  margin-top: 30px;
}

iframe {
  width: 100%;
  height: 315px;
}

.simplebar-scrollbar::before {
  background-color: rgb(240, 240, 240);
}
.simplebar-track.simplebar-vertical {
  width: 6px;
  border-radius: 3px;
}
.simplebar-track {
  background: rgba(255, 255, 255, 0.142);
}
.simplebar-scrollbar {
  width: 6px;
  background: rgb(240, 240, 240);
  border-radius: 3px;
  top: 0;
  right: 2px;
}

.controls {
  display: flex; /* フレックスボックスを使用して横並びにする */
  justify-content: center;
  gap: 10px; /* プルダウン間の間隔 */
  margin-bottom: 20px; /* 下に余白を追加 */
}

/* プルダウンの基本スタイル */
select {
  appearance: none; /* デフォルトのスタイルを無効化 */
  -webkit-appearance: none; /* Safari用 */
  -moz-appearance: none; /* Firefox用 */
  background-color: #000000; /* 背景色 */
  color: rgb(240, 240, 240);; /* テキスト色 */
  font: inherit;
  padding: 10px 40px 10px 15px; /* 右側にスペースを確保して矢印アイコンを表示 */
  border: 1px solid rgb(240, 240, 240);; /* 枠線 */
  border-radius: 0px;
  box-sizing: border-box; /* パディングを含む幅設定 */
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij4gICA8cGF0aCBmaWxsPSIjZmZmIiBkPSJNNS41IDlsNC41IDQuNSA0LjUtNC41IDEuNCAxLjQtNiA2LTYtNiAxLjQtMS40eiIvPjwvc3ZnPg=='); /* カスタムの矢印アイコンを背景画像として表示 */
  background-repeat: no-repeat;
  background-position: right 12px center; /* 矢印アイコンの位置 */
  background-size: 16px; /* 矢印アイコンのサイズ */
  cursor: pointer;
}

/* フォーカス時のスタイル */
select:focus {
  border-color: rgb(240, 240, 240); /* フォーカス時の枠線色をオレンジに */
  outline: none;
}

#album-select {
  width: 100%; /* 幅を親要素に合わせる */
  max-width: 80%; /* 最大幅 */
}

/* プルダウンの基本スタイル */
#language-select {
  width: 100px;
}
