@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* Webkit系（Chrome, Safari） */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* IE11 */
body {
    -ms-overflow-style: none;
}


body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:black;
    color: rgb(255, 233, 214);
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
}

h1 {
    text-align: center;
}

.album {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.album img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-right: 10px; /* ジャケット画像とアルバム名の間のスペース */
}

.album h3 {
    margin: 0;
}

.songs-and-details-container {
    display: flex;
    flex: 1; /* 左ペインと右ペインを均等に広げる */
}

.songs-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.playlist-item {
    cursor: pointer;
    padding: 5px;
}

#player-container {
    text-align: center;
}

iframe {
    width: 100%;
    height: 315px;
}